<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sophie Brunner" />
    <meta
      name="description"
      content="Todo App in the framework Vue.js. Basic functions are adding, listing and marking Todos. Advanced functions are filter Todos and delete (done) Todos."
    />
    <title>Todo App with Vue.js</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header class="page-header" ref="header">
      <h1>Todo App</h1>
    </header>

    <main id="app">
      <!-- Input area -->
      <div class="todo-app__wrapper">
        <form class="add-todo" @submit.prevent>
          <input
            type="text"
            placeholder="Get sh*t done!"
            class="add-todo__input"
            v-model="description"
          />
          <button class="add-todo__btn" v-on="toDoAddingEvents">Add</button>
        </form>

        <!-- Filter area -->
        <section class="filter-and-delete">
          <h2>Filter & Options</h2>
          <ul class="filter-options">
            <input
              type="radio"
              name="filter-todos"
              id="filter-all-todos"
              class="filter-and-delete__radio"
              value="all"
              v-model="filter"
              checked
            />
            <label for="filter-all-todos">All</label>
            <input
              type="radio"
              name="filter-todos"
              id="filter-open-todos"
              class="filter-and-delete__radio"
              value="open"
              v-model="filter"
            />
            <label for="filter-open-todos">Open</label>
            <input
              type="radio"
              name="filter-todos"
              id="filter-done-todos"
              class="filter-and-delete__radio"
              value="done"
              v-model="filter"
            />
            <label for="filter-done-todos">Done</label>
          </ul>
          <!-- Remove all done Todos -->
          <button class="filter-and-delete__btn" @click="removeDoneToDos">
            Remove Done Todos
          </button>
        </section>

        <!-- List all Todos -->
        <section id="todo-list">
          <h2>Your Todos</h2>
          <ul class="todo-list__container">
            <li
              class="todo-list__item"
              v-for="(toDo, index) in filteredToDos"
              :key="toDo.id"
            >
              <input
                type="checkbox"
                :id="'todo' + toDo.id"
                class="todo-list__item--checkbox"
                v-model="toDo.done"
                :disabled="toDo.edit"
                @change="onCheckboxChange(toDo)"
              />
              <label
                class="todo-list__item--label"
                :for="'todo' + toDo.id"
                :class="{ checked: isChecked }"
              >
                <input
                  type="text"
                  class="todo-list__item--description"
                  ref="description"
                  v-model="toDo.description"
                  :readonly="!toDo.edit"
                  :class="{ checked: toDo.done }"
                />
              </label>
              <!-- Buttons Edit & Remove -->
              <button
                class="todo-list__item--btn-edit"
                :data-index="index"
                @click="editToDo($event, toDo)"
              >
                {{ toDo.edit ? "Save" : "Edit" }}
              </button>
              <button
                class="todo-list__item--btn-delete"
                @click="removeSingleToDo(toDo)"
              >
                Remove
              </button>
            </li>
          </ul>
          <p class="todo-list__open">
            Your Open Todos: {{ numberOfOpenToDos }}
          </p>
        </section>
      </div>
    </main>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
  </body>
</html>
