*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --border-radius: 5px;
  --padding-small: 0.25em 0.5em;
  font-family: sans-serif;
  font-size: 20px;
  --clr-primary: #dd5571;
  --clr-secondary: #3d89ae;
  --clr-highlight: #ebad3d;
  --clr-done: #61d2a4;
  --clr-bg: #f5f5f5;
}

main,
.page-header {
  width: 50ch;
}

main {
  display: flex;
  justify-content: center;
  background-color: var(--clr-bg);
}

h1 {
  font-size: 4rem;
  text-shadow: 3px 3px var(--clr-secondary), 6px 6px var(--clr-highlight);
}

section + section {
  margin-top: 3em;
}

.page-header {
  color: white;
  background-color: var(--clr-primary);
  text-align: center;
}

.todo-app__wrapper {
  padding-top: 2em;
  width: 40ch;
}

.add-todo {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.add-todo__input {
  padding: 2em 0;
  width: 35ch;
  height: 2.5em;
}

.filter-options {
  display: grid;
  grid-template-columns: 0.15fr 1fr;
  row-gap: 0.2em;
  padding-left: 0;
}

.filter-and-delete__radio {
  all: unset;
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  transition: background-color 0.2s;
  cursor: pointer;
}

.filter-and-delete__radio:checked {
  background-color: var(--clr-secondary);
}

.add-todo__input,
.add-todo__btn,
.filter-and-delete__btn,
.todo-list__item--btn-edit,
.todo-list__item--btn-delete {
  font-size: 26px;
  border: none;
  border-radius: var(--border-radius);
  padding: var(--padding-small);
  cursor: pointer;
}

.add-todo__btn,
.filter-and-delete__btn,
.todo-list__item--btn-edit,
.todo-list__item--btn-delete {
  color: white;
  background-color: var(--clr-secondary);
  box-shadow: 5px 5px var(--clr-primary);
}

.todo-list__container {
  list-style: none;
  padding-left: 0;
}

.todo-list__item {
  border-radius: 10px;
  padding: 0.8em;
  margin: 0.5em 0;
  background-color: white;
  display: grid;
  grid-template-columns: 8% 72% 10% 10%;
  align-items: center;
}

.todo-list__item--label {
  font-size: 1.5rem;
}

.todo-list__item--checkbox {
  all: unset;
  box-sizing: border-box;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid black;
  border-radius: 3px;
}

.todo-list__item--checkbox:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' focusable='false' %3E%3Cpath fill='none' stroke='white' stroke-width='3' d='M1.73 12.91l6.37 6.37L22.79 4.59' /%3E%3C/svg%3E");
  background-color: var(--clr-done);
}

.todo-list__item--btn-edit,
.todo-list__item--btn-delete {
  font-size: 10px;
  padding: 0.5em;
}

.checked {
  text-decoration: line-through;
}
